.popup {
    display: none;
}

.popup_opened {
    padding-bottom: 50px;
}

.popup__container {
    width: 430px;
    height: 330px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    position: relative;
}

.popup__heading-edit-button {
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 1.2;
    color: #000000;
    position: absolute;
    top: 34px;
    left: 36px;
    margin: 0;
}

.popup__input {
    width: 358px;
    height: 27px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    outline-style: rgb(20, 22, 179);
}

.popup__input_author {
    position: absolute;
    left: 36px;
    top: 100px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    padding: 8px 0 13px 5px;
}

.popup__input_description {
    position: absolute;
    left: 36px;
    top: 168px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    padding: 8px 0 13px 5px;
}

.popup__edit-save-button {
    width: 358px;
    height: 50px;
    background-color: #000000;
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    position: absolute;
    bottom: 37px;
    left: 36px;
    border-radius: 2px;
    transition: .3s;
    cursor: pointer;
}

.popup__edit-save-button:hover {
    opacity: 0.8;
}

.popup__edit-close {
    position: absolute;
    background-color: #000000;
    width: 32px;
    height: 32px;
    top: -40px;
    right: -40px;
    background-image: url(../../../images/edit-close-button.svg);
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    transition: .3s;
    cursor: pointer;
}

.popup__edit-close:hover {
    opacity: .6;
}