.element__del-button {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 18px;
    height: 19px;
    background-color: transparent;
    background-image: url(../../../images/delete-button.svg);
    border: none;
    outline: none;
    background-repeat: no-repeat;
    transition: .3s;
    cursor: pointer;
    /* mix-blend-mode: difference; */
}

.element__del-button:hover {
    opacity: .5;
}